    <!--====== ABOUT INTRO PART START ======-->
         
    <div class="about-intro-area pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="intro-thumb">
                            <img src="{{ 'assets/images/about-intro-thumb.jpg' | relative_url }}" alt="">
                            <a class="video-popup" href="{{ site.data.about-intro-area.video_link }}"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="intri-content">
                            <span>{{ site.data.about-intro-area.tagline }}</span>
                            <h2 class="title">{{ site.data.about-intro-area.title }}</h2>
                            <p class="text-1">{{ site.data.about-intro-area.text-1 }}</p>
                            <p class="text-2">{{ site.data.about-intro-area.text-2 }}</p>
                            <a class="main-btn wow fadeInUp" href="{{ site.data.about-intro-area.link }}" data-wow-duration="1s" data-wow-delay=".4s">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    
        <!--====== ABOUT INTRO PART ENDS ======-->
    