    <!--====== CASE STUDIES PART START ======-->

    <div class="case-studies-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title">
                        <span>Latest Case Studies</span>
                        <h2 class="title">Reads Our Recent Case Studies </h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="container-fluid pl-70 pr-70">
            <div class="row no-gutters case-studies-active">
                {%- for item in site.data.case-studies-area.case-studies -%}
                <div class="col-lg-3">
                    <div class="single-case-studies mt-30">
                        <img src="{{ item.image }}" alt="case-studies">
                        <div class="case-overlay">
                            <div class="item">
                                <span>{{ item.tagline }} </span>
                                <h5 class="title">{{ item.title }}</h5>
                            </div>
                            <a href="{{ item.link }}"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div> <!-- single case studies -->
                </div>
                {%- endfor -%}
                
            </div> <!-- row -->
        </div> <!-- containe fluid -->
    </div>

    <!--====== CASE STUDIES PART ENDS ======-->