   
   
{%- assign layout = site.data.settings.layout -%}

{%- if layout == 'default' -%}
    {%- assign headerClass = 'header-area header-area-2 header-area-4' -%}
{%- elsif layout == 'classic' -%}
    {%- assign headerClass = 'header-area header-area-2' -%}
{%- elsif layout == 'modern' -%}
    {%- assign headerClass = 'header-area-2' -%}
{%- elsif layout == 'modern2' -%}
    {%- assign headerClass = 'header-area-2 header-area-3' -%}
   
{%- endif -%}


   
    <!--====== HEADER PART START ======-->
    <header class="{{ headerClass }}">
            <div class="header-top pl-30 pr-30 white-bg">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-7">
                        <div class="header-left-side text-center text-sm-left">
                            <ul>
                                <li><a href="#"><i class="fal fa-envelope"></i> {{ site.data.settings.email }}</a></li>
                                <li><a href="#"><i class="fal fa-phone"></i> {{ site.data.settings.phone }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-5">
                        <div class="header-right-social text-center text-sm-right">
                            <ul>
                                {%- for social in site.data.settings.socials -%}
                                <li><a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a></li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="navigation">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <a class="navbar-brand" href="{{ '/' | relative_url }}">
                            <img src="{{ site.data.settings.logo }}" alt="">
                        </a> <!-- logo -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button> <!-- navbar toggler -->
    
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                {%- for menu in site.data.menu.header -%}
                                <li class="nav-item {%- if page.currentMenu == menu.name -%} active {%- endif -%}">
                                    <a class="nav-link" href="{{ menu.url | relative_url }}">{{ menu.name }}</a>
                                </li>
                                {%- endfor -%}
                            </ul>
                        </div> <!-- navbar collapse -->

                        <div class="navbar-btn mr-100">
                            <a class="main-btn" href="{{ site.data.header.hire_us }}">Hire Us<i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </nav>
                </div> <!-- navigation -->
            </div>
        </header>
    
        <!--====== HEADER PART ENDS ======-->
    