<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ include seo.html }}
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{'assets/images/favicon.ico' | relative_url }}" type="image/png">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}">
    <!--====== Fontawesome Pro css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/all.css' | relative_url }}">
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css' | relative_url }}">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/nice-select.css' | relative_url }}">
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/animate.min.css' | relative_url }}">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/slick.css' | relative_url }}">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/default.css' | relative_url }}">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
</head>
