<!--====== BANNER PART START ======-->
    <div class="banner-active">
        {%- for item in site.data.hero.slider -%}
        <div class="single-banner bg_cover" style="background-image: url('{{ item.image  | relative_url }}');">
            <div class="banner-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="banner-content">
                                <span data-animation="fadeInLeft" data-delay="0.5s">{{ item.tagline }}</span>
                                <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">{{ item.title }}</h1>
                                <p data-animation="fadeInLeft" data-delay="1.3s">{{ item.description }}</p>
                                <a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{{ item.button_url }}">{{ item.button_text }} <i class="fal fa-long-arrow-right"></i></a>
                            </div> <!-- banner content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div>
        </div>
        {%- endfor -%}
    </div>

    <!--====== BANNER PART ENDS ======-->
