
    <!--====== LATEST NEWS PART START ======-->

    <div class="latest-news-area gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <span>{{ site.data.latest-news-area.tagline }}</span>
                        <h2 class="title">{{ site.data.latest-news-area.title }}</h2>
                    </div> <!-- sction title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="letast-news-grid white-bg  ml-40 mr-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="latest-news">
                            <div class="row">
                                {%- for post in site.posts limit: 3 -%}
                                <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                    <div class="letest-news-item mt-30">
                                        <span>By {{ post.author }}, {{ post.date }}</span>
                                        <h4 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                                        <p>{{ post.summary }}</p>
                                        <a class="main-btn" href="{{ post.url }}">Read More <i class="fal fa-long-arrow-right"></i></a>
                                    </div> <!-- lesast news item -->
                                </div>
                                {%- endfor -%}
                                
                            </div>
                        </div> <!-- latest news -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </div>

    <!--====== LATEST NEWS PART ENDS ======-->
    