    <!--====== OUE CHOOSE PART START ======-->
    <div class="our-choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title mt-30">
                        <span>{{ site.data.our-choose-area.tagline }}</span>
                        <h2 class="title">{{ site.data.our-choose-area.title }}</h2>
                    </div> <!-- section title -->
                    <div class="accordion" id="accordionExample">
                        {% for our_chouse_area in  site.data.our-choose-area.our_chouse_area %}
                        <div class="card">
                            <div class="card-header" id="headingOne{{ forloop.index }}">
                                <a class="" href="#" data-toggle="collapse" data-target="#collapseOne{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.index }}">
                                    <i class="fal fa-long-arrow-right"></i> {{ our_chouse_area.name }}
                                </a>
                            </div>

                            <div id="collapseOne{{ forloop.index }}" class="collapse" aria-labelledby="headingOne{{ forloop.index }}" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>{{ our_chouse_area.description }}</p>
                                </div>
                            </div>
                        </div> <!-- card --> 
                        {% endfor %}


                    </div> <!-- accordion -->
                </div>
                <div class="col-lg-6">
                    <div class="our-choose-counter-area mt-30">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-choose-counter wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                    <sub><span class="counter">569</span> <sup>+</sup></sub>
                                    <span>Projct Complate</span>
                                </div>
                                <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="1s" data-wow-delay="0s">
                                    <sub><span class="counter">783</span> <sup>+</sup></sub>
                                    <span>Business Partners</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="our-choose-counter wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                                    <sub><span class="counter">356</span> <sup>+</sup></sub>
                                    <span>Happy Clients</span>
                                </div>
                                <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="2s" data-wow-delay="0s">
                                    <sub><span class="counter">894</span> <sup>+</sup></sub>
                                    <span>IT Consultant</span>
                                </div>
                            </div> <!-- our choose counter -->
                        </div> <!-- row -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== OUE CHOOSE PART ENDS ======-->















