
    <!--====== jquery js ======-->
    <script src="{{ 'assets/js/vendor/modernizr-3.6.0.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/vendor/jquery-1.12.4.min.js' | relative_url }}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/popper.min.js' | relative_url }}"></script>

    <!--====== Slick js ======-->
    <script src="{{ 'assets/js/slick.min.js' | relative_url }}"></script>

    <!--====== Isotope js ======-->
    <script src="{{ 'assets/js/isotope.pkgd.min.js' | relative_url }}"></script>

    <!--====== Images Loaded js ======-->
    <script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{{ 'assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{{ 'assets/js/jquery.counterup.min.js' | relative_url }}"></script>

    <!--====== Circle Progress js ======-->
    <script src="{{ 'assets/js/circle-progress.min.js' | relative_url }}"></script>

    <!--====== ajax contact js ======-->
    <script src="{{ 'assets/js/ajax-contact.js' | relative_url }}"></script>

    <!--====== Syotimer js ======-->
    <script src="{{ 'assets/js/jquery.syotimer.min.js' | relative_url }}"></script>

    <!--====== Nice Select js ======-->
    <script src="{{ 'assets/js/jquery.nice-select.min.js' | relative_url }}"></script>

    <!--====== wow js ======-->
    <script src="{{ 'assets/js/wow.min.js' | relative_url }}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{{ 'assets/js/waypoints.min.js' | relative_url }}"></script>

    <!--====== Main js ======-->
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>