    <!--====== SOLUTION PART START ======-->
    <div class="solution-area bg_cover" style="background-image: url('{{ site.data.solution-area.image }}');">
        <div class="solution-overlay pt-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="solution-box">
                            <div class="solution-content">
                                <h3 class="title">{{ site.data.solution-area.title }}</h3>
                                <p>{{ site.data.solution-area.description }}</p>
                                <div class="solution-play text-right mr-30 d-block d-lg-none">
                                    <a class="video-popup" href="{{ site.data.solution-area.video_link }}"><i class="fas fa-play"></i></a>
                                </div> <!-- solution play -->
                            </div>
                        </div> <!-- solution box -->
                    </div>
                    <div class="col-lg-4">
                        <div class="solution-play text-right mr-30 d-none d-lg-block">
                            <a class="video-popup" href="{{ site.data.solution-area.video_link }}"><i class="fas fa-play"></i></a>
                        </div> <!-- solution play -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </div>

    <!--====== SOLUTION PART ENDS ======-->
