---
layout: app
---
    <!--====== PAGE TITLE PART START ======-->
         
    <div class="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h2 class="title">News Standard</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home </a></li>
                                <li class="breadcrumb-item active" aria-current="page">News</li>
                            </ol>
                        </nav>
                    </div> <!-- page title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> 

    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== BLOG STANDARD PART START ======-->
         
    <div class="blog-standard-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="blog-standard">
                        <div class="single-blog-standard mt-30">
                            <div class="blog-standard-thumb">
                                <img src="assets/images/blog-standard-1.jpg" alt="blog">
                            </div>
                            <div class="blog-standard-content">
                                <span>Businese</span>
                                <h2 class="title">Lorem ipsum dolor sit amet, consecte cing elit, sed do eiusmod tempor.</h2>
                                <ul>
                                    <li><i class="fal fa-eye"></i> 232 Views</li>
                                    <li><i class="fal fa-comments"></i> 35 Comments</li>
                                    <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                <div class="blog-flex">
                                    <div class="blog-left">
                                        <p><span>by</span> Hetmayar</p>
                                        <img src="assets/images/blog-girl.png" alt="">
                                    </div>
                                    <div class="blog-right">
                                        <a href="#"><i class="fal fa-arrow-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-standard mt-30">
                            <div class="blog-standard-thumb">
                                <img src="assets/images/blog-standard-3.jpg" alt="blog">
                                <a class="video-popup" href="http://bit.ly/2VuPnrx"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="blog-standard-content">
                                <span>Businese</span>
                                <h2 class="title">Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h2>
                                <ul>
                                    <li><i class="fal fa-eye"></i> 232 Views</li>
                                    <li><i class="fal fa-comments"></i> 35 Comments</li>
                                    <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                <div class="blog-flex">
                                    <div class="blog-left">
                                        <p><span>by</span> Hetmayar</p>
                                        <img src="assets/images/blog-girl.png" alt="">
                                    </div>
                                    <div class="blog-right">
                                        <a href="#"><i class="fal fa-arrow-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-standard mt-30">
                            <div class="blog-standard-thumb">
                                <img src="assets/images/blog-standard-2.jpg" alt="blog">
                            </div>
                            <div class="blog-standard-content">
                                <span>Businese</span>
                                <h2 class="title">Magna aliqua. Ut enim ad minim venia m, quis nostrud exercitation ullamco</h2>
                                <ul>
                                    <li><i class="fal fa-eye"></i> 232 Views</li>
                                    <li><i class="fal fa-comments"></i> 35 Comments</li>
                                    <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                <div class="blog-flex">
                                    <div class="blog-left">
                                        <p><span>by</span> Hetmayar</p>
                                        <img src="assets/images/blog-girl.png" alt="">
                                    </div>
                                    <div class="blog-right">
                                        <a href="#"><i class="fal fa-arrow-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-standard  mt-30">
                            <div class="blog-standard-content blog-border">
                                <span>Businese</span>
                                <h2 class="title">In reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h2>
                                <ul>
                                    <li><i class="fal fa-eye"></i> 232 Views</li>
                                    <li><i class="fal fa-comments"></i> 35 Comments</li>
                                    <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                <div class="blog-flex">
                                    <div class="blog-left">
                                        <p><span>by</span> Hetmayar</p>
                                        <img src="assets/images/blog-girl.png" alt="">
                                    </div>
                                    <div class="blog-right">
                                        <a href="#"><i class="fal fa-arrow-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-standard mt-30">
                            <div class="blog-standard-thumb">
                                <img src="assets/images/blog-standard-3.jpg" alt="blog">
                            </div>
                            <div class="blog-standard-content">
                                <span>Businese</span>
                                <h2 class="title">Magna aliqua. Ut enim ad minim venia m, quis nostrud exercitation ullamco</h2>
                                <ul>
                                    <li><i class="fal fa-eye"></i> 232 Views</li>
                                    <li><i class="fal fa-comments"></i> 35 Comments</li>
                                    <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                <div class="blog-flex">
                                    <div class="blog-left">
                                        <p><span>by</span> Hetmayar</p>
                                        <img src="assets/images/blog-girl.png" alt="">
                                    </div>
                                    <div class="blog-right">
                                        <a href="#"><i class="fal fa-arrow-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-standard mt-30">
                            <div class="blog-standard-thumb">
                                <img src="assets/images/blog-standard-2.jpg" alt="blog">
                            </div>
                            <div class="blog-standard-content">
                                <span>Businese</span>
                                <h2 class="title">Magna aliqua. Ut enim ad minim venia m, quis nostrud exercitation ullamco</h2>
                                <ul>
                                    <li><i class="fal fa-eye"></i> 232 Views</li>
                                    <li><i class="fal fa-comments"></i> 35 Comments</li>
                                    <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi-dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                <div class="blog-flex">
                                    <div class="blog-left">
                                        <p><span>by</span> Hetmayar</p>
                                        <img src="assets/images/blog-girl.png" alt="">
                                    </div>
                                    <div class="blog-right">
                                        <a href="#"><i class="fal fa-arrow-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="mt-60" aria-label="Page navigation example">
                              <ul class="pagination pagination-2 justify-content-center">
                                <li class="page-item">
                                  <a class="page-link d-none d-sm-inline-block" href="#" tabindex="-1" aria-disabled="true"><i class="far fa-chevron-double-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">10</a></li>
                                <li class="page-item">
                                  <a class="page-link d-none d-sm-inline-block" href="#"><i class="far fa-chevron-double-right"></i></a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="blog-sidebar-area ml-20">
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">About Me</h4>
                            </div>
                            <div class="sidebar-about-contnent text-center mt-35">
                                <img src="assets/images/blog-about.png" alt="">
                                <h6 class="title">Rosalina D. Willaimson</h6>
                                <p>Lorem ipsum dolor sit amet, consecte-tur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Search Objects</h4>
                            </div>
                            <div class="sidebar-search-item text-center mt-35">
                                <form action="#">
                                    <div class="input-box">
                                        <input type="text" placeholder="Search your keyword...">
                                        <button><i class="fal fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Popular Feeds</h4>
                            </div>
                            <div class="sidebar-feeds mt-45">
                                <div class="sidebar-feeds-item mt-30 pl-100">
                                    <a href="#"><h4 class="title">Lorem ipsum dolor sit cing elit, sed do.</h4></a>
                                    <span><i class="fal fa-calendar-alt"></i>24th March 2019</span>
                                    <img src="assets/images/feeds-1.png" alt="">
                                </div>
                                <div class="sidebar-feeds-item mt-30 pl-100">
                                    <a href="#"><h4 class="title">Lorem ipsum dolor sit cing elit, sed do.</h4></a>
                                    <span><i class="fal fa-calendar-alt"></i>24th March 2019</span>
                                    <img src="assets/images/feeds-2.png" alt="">
                                </div>
                                <div class="sidebar-feeds-item mt-30 pl-100">
                                    <a href="#"><h4 class="title">Lorem ipsum dolor sit cing elit, sed do.</h4></a>
                                    <span><i class="fal fa-calendar-alt"></i>24th March 2019</span>
                                    <img src="assets/images/feeds-3.png" alt="">
                                </div>
                                <div class="sidebar-feeds-item mt-30 pl-100">
                                    <a href="#"><h4 class="title">Lorem ipsum dolor sit cing elit, sed do.</h4></a>
                                    <span><i class="fal fa-calendar-alt"></i>24th March 2019</span>
                                    <img src="assets/images/feeds-4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Categories</h4>
                            </div>
                            <div class="sidebar-categories mt-35">
                                <ul>
                                    <li><a href="#">Business<span>26</span></a></li>
                                    <li><a href="#">Consultant<span>30</span></a></li>
                                    <li><a href="#">Creative<span>71</span></a></li>
                                    <li><a href="#">UI/UX<span>56</span></a></li>
                                    <li><a href="#">Technology<span>60</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Never Miss News</h4>
                            </div>
                            <div class="sidebar-social text-center mt-35">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Twitter Feeds</h4>
                            </div>
                            <div class="sidebar-twitter-feeds mt-35">
                                <div class="sidebar-twitter-feeds-item">
                                    <ul>
                                        <li><a href="#">Rescue - #Gutenberg ready @ wordpress</a></li>
                                        <li><a href="#">Theme for Creative Bloggers available on</a></li>
                                        <li><a href="#">@ ThemeForest https://t.co/2r1POjOjgV</a></li>
                                        <li><a href="#">C… https://t.co/rDAnPyClu1</a></li>
                                    </ul>
                                    <span>November 25, 2018</span>
                                    <i class="fab fa-twitter"></i>
                                </div>
                                <div class="sidebar-twitter-feeds-item">
                                    <ul>
                                        <li><a href="#">Rescue - #Gutenberg ready @ wordpress</a></li>
                                        <li><a href="#">Theme for Creative Bloggers available on</a></li>
                                        <li><a href="#">@ ThemeForest https://t.co/2r1POjOjgV</a></li>
                                        <li><a href="#">C… https://t.co/rDAnPyClu1</a></li>
                                    </ul>
                                    <span>November 25, 2018</span>
                                    <i class="fab fa-twitter"></i>
                                </div>
                                <div class="sidebar-twitter-feeds-item">
                                    <ul>
                                        <li><a href="#">Rescue - #Gutenberg ready @ wordpress</a></li>
                                        <li><a href="#">Theme for Creative Bloggers available on</a></li>
                                        <li><a href="#">@ ThemeForest https://t.co/2r1POjOjgV</a></li>
                                        <li><a href="#">C… https://t.co/rDAnPyClu1</a></li>
                                    </ul>
                                    <span>November 25, 2018</span>
                                    <i class="fab fa-twitter"></i>
                                </div>
                            </div>
                        </div>
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Instagram Feeds</h4>
                            </div>
                            <div class="sidebar-instagram mt-35">
                                <ul>
                                    <li><a href="#"><img src="assets/images/instagram-1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/instagram-2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/instagram-3.jpg" alt=""></a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"><img src="assets/images/instagram-4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/instagram-5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/instagram-6.jpg" alt=""></a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"><img src="assets/images/instagram-7.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/instagram-8.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/instagram-9.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-sidebar-item mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Instagram Feeds</h4>
                            </div>
                            <div class="sidebar-tags mt-35">
                                <ul>
                                    <li><a href="#">Popular</a></li>
                                    <li><a href="#">desgin</a></li>
                                    <li><a href="#">ux</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">usability</a></li>
                                    <li><a href="#">develop</a></li>
                                    <li><a href="#">icon</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">business</a></li>
                                    <li><a href="#">consult</a></li>
                                    <li><a href="#">kit</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">keyboard</a></li>
                                    <li><a href="#">mouse</a></li>
                                    <li><a href="#">tech</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-sidebar-add mt-30">
                            <img src="assets/images/sidebar-ad-2.jpg" alt="add">
                            <div class="add-content">
                                <span>350x600</span>
                                <h5 class="title">Add Banner</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!--====== BLOG STANDARD PART ENDS ======-->
