---
layout: app
---
    <!--====== PAGE TITLE PART START ======-->
         
    <div class="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h2 class="title">News Details</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home </a></li>
                                <li class="breadcrumb-item active" aria-current="page">News Details</li>
                            </ol>
                        </nav>
                    </div> <!-- page title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> 

    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== BLOG STANDARD PART START ======-->
         
    <div class="blog-standard-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="blog-standard">
                        <div class="single-blog-standard  mt-30">
                            <div class="blog-dteails-content blog-border">
                                {{ content }}
                                <div class="blog-details-bar d-flex justify-content-between mt-40 mb-50">
                                    <div class="blog-tags">
                                        <h4 class="title">Releted Tags</h4>
                                        <ul>
                                            {%- for tag in page.tags -%}
                                            <li><a href="tags/{{ tag }}">{{ tag }}</a></li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                    <div class="blog-social text-right">
                                        <h4 class="title">Social Share</h4>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-typo3"></i></a></li>
                                            <li><a href="#"><i class="fab fa-staylinked"></i></a></li>
                                            <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-details-next-prev d-flex justify-content-between pt-45 pb-45">
                                    <div class="post-prev">
                                        <a href="#">
                                            <span>Prev Post</span>
                                            <h4 class="title">Tips On Minimalist</h4>
                                        </a>
                                    </div>
                                    <div class="post-next text-right">
                                        <a href="#">
                                            <span>Next Post</span>
                                            <h4 class="title">Less Is More</h4>
                                        </a>
                                    </div>
                                    <a href="#"><img src="assets/images/dot-box.png" alt=""></a>
                                </div>
                                
                                

                                
                                <div class="blog-details-comments mt-45">
                                    <h4 class="title">03 Comments</h4>
                                    
                                    ===================
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!--====== BLOG STANDARD PART ENDS ======-->
